<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test Projekat Aukcije</title>
  <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/libs/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <div class="container">
    <head>
      Neko zaglavlje sajta...
    </head>

    <main>
      {% block main %}
      {% endblock %}
    </main>

    <footer>
      &copy 2018 mariolaWeb
    </footer>
    </div>
   <script src="assets/libs/jquery/dist/jquery.min.js"></script>
   <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
